<div class="jumbotron jumbotron-fluid m-0">
    <div class="container text-center">
      <h1 class="display-4">HOME</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In iusto nisi laboriosam pariatur dolorem hic voluptas similique, fugit explicabo nostrum tenetur porro nulla praesentium blanditiis libero modi inventore doloremque? Itaque placeat quis rem iure nulla earum cumque mollitia perferendis. Perferendis fugiat qui nesciunt obcaecati ut iure, reprehenderit odio temporibus explicabo quia earum quas dolorem voluptates sint voluptas aut minima nam incidunt saepe aliquid quo quisquam. Provident nam possimus ipsum voluptatem commodi illo ut ea? Repellendus?</p>
    </div>
  </div>

  